/* Trusted Brands */
.trusted-brands {
  background-color: #f5f5f5;
}
.trusted-brands i {
  color: #00000085;
}
.trusted-brands h2{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00000085;
}



/* Category Section */
.categorySection  .card{
  min-height: 300px;
}
.categorySection .circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorySection h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00000085;
}
.categorySection .card{
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}



/* Find Courses Section */
.findCourses h2{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00000085;
}
.findCourses .card-img-top {
  height: 250px;
  object-fit: cover;
}
.findCourses .card .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8em;
}
.findCourses .card .price {
  font-size: 1.5em;
  color: #ff6b6b;
}
.findCourses .text-danger {
  color: #ff6b6b !important;
}
.findCourses .card{
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  min-height: 480px;
}



/* Testimonials Section */
.testimonials h2{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00000085;
}



/* About Us Page */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.about-us .service-32 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}
.about-us .service-32 h1, .service-32 h2, .service-32 h3, .service-32 h4, .service-32 h5, .service-32 h6 {
  color: #3e4555;
}
.about-us .service-32 .font-weight-medium {
	font-weight: 500;
}
.about-us .service-32 .badge {
	line-height: 14px;
}
.about-us .service-32 .badge-info {
	background: #188ef4;
}
.about-us .service-32 .btn-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
    border: 0px;
    color: #ffffff;
}
.about-us .service-32 .btn-info-gradiant:hover {
		background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}
.about-us .service-32 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}


/* Contact Us Page */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
	padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

 .contact2 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}



/* Footer */
.footer {
  background-color: #343a40;
  color: #ffffff;
}
.footer .icon {
  color: #ffffff;
  margin: 0 10px;
  transition: color 0.3s;
}
.footer .icon:hover {
  color: #007bff;
}