.home-container {
  height: 80vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
}
.home-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Skills Section */
#skills {
    background-color: antiquewhite;
}

.skill-box {
  transition: box-shadow 0.3s ease;
}
.skill-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: dodgerblue;
  color: white;
  border: none;
}
.skill-content {
  padding: 1.5rem;
  text-align: center;
}
